################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ServiceStation
/bin/Debug
/obj
**/.vs
**/bin
**/obj
**/.containers